JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=refreshSecret
ACCESS_TOKEN_ACTIVE_TIME=1h
REFRESH_TOKEN_ACTIVE_TIME=12h
PORT=5001
ENV=development
DATABASE=postgres
DB_USER=postgres
DB_PASSWORD=postgres

EMAIL_WEBSITE_HOST=http://localhost:3040
EMAIL_SERVICE=gmail
EMAIL_USERNAME=email
EMAIL_PASSWORD=password
EMAIL_EXPIRE=3600000
EMAIL_ENDPOINTS_FORGOT_PASSWORD=forgot_password
EMAIL_ENDPOINTS_SIGNUP=/users/verify
EMAIL_TEMPLATES_FORGOT_PASSWORD=templates/forgot_password.html
EMAIL_TEMPLATES_SIGNUP=templates/signup.html
PHONE_ACCOUNT_SID=AC53acf7bf62d8052f8e98835803640a93
PHONE_AUTH_TOKEN=bc8a2848206361d852b742311db97f2f
GOOGLE_CLIENT_ID=893369248113-gvl6u61jv4c7esim2fn6s5phovi0nfb8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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